.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}

.ex-2-square:active{
    transform: scale(2, 1);
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 500ms;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation: opacità 2s;
    animation-fill-mode: backwards;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

@keyframes opacità{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover{
    transform: scale(2);
    transition: all 2s;
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter:hue-rotate(45deg) invert(100%);
    transition: all 2s;
}

.ex-8-img:hover{
    filter:hue-rotate(45deg) invert(100%);
    transition: all 2s;
    border-radius: 10px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover{
    filter:hue-rotate(45deg) invert(100%);
    transition: all 2s;
    border-radius: 10px;
    transform: scale(3);
}

.ex-10-icon {
    font-size: 60px;
    animation: spin 2s;
    animation-iteration-count: infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.ex-11-icon {
    font-size: 60px;
    animation: spindue 2s;
    animation-iteration-count: infinite;
}

@keyframes spindue {
    75%{
        transform: rotate(270deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: white;
    width: 60px;
    height: 20px;
}

.ex-12-top-white{
    animation: bianco-top-12 2s;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white{
    animation: bianco-bottom-12 2s;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: white;
    width: 60px;
    height: 20px;
}

.ex-13-top-white{
    animation: bianco-top-13 3s;
    animation-iteration-count: infinite;
}

.ex-13-bottom-white{
    animation: bianco-bottom-13 3s;
    animation-iteration-count: infinite;
}

@keyframes bianco-top-12 {
    25%{
        left: 25%;
    }

    50%{
        left: 75%;
    }
    
}

@keyframes bianco-bottom-12 {
    25%{
        right: 40%;
        
    }

    50%{
        right: 60%;
        
    }
    

}

@keyframes bianco-top-13 {
    25%{
        top: -10px;
        left: 75%;
    }

    50%{
        top: 60px;
        left: 75%;
    }

    75%{
        top: 60px;
        left: -30px;
    }

    90%{
        top: -10px;
        left: -30px;
    }
    
}

@keyframes bianco-bottom-13 {
    25%{
        bottom: -10px;
        right: 75%;
    }

    50%{
        bottom: 60px;
        right: 75%;
    }

    75%{
        bottom: 60px;
        right: -30px;
    }

    90%{
        bottom: -10px;
        right: -30px;
    }
    
}